<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459997566718-di2h8qfcua2jh5jubjvn1t90mvt8iv0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459997566718-di2h8qfcua2jh5jubjvn1t90mvt8iv0a</string>
	<key>API_KEY</key>
	<string>AIzaSyDuF55F0H_HNjO8i5s0vDiPSveC8kvmNto</string>
	<key>GCM_SENDER_ID</key>
	<string>459997566718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gustasbrazaitis.InstagramSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui-a8f41</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui-a8f41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459997566718:ios:5fc8f1157cc1d15470b7af</string>
</dict>
</plist>